
button {
    transition: all .5s ease;
    width: 290px;
    border-color: #FFFFFF;
    color: #FFFFFF;
    margin: 1.5rem 1.5rem 0 0;
    letter-spacing: .25rem;
    background-color : transparent;
}
button:hover {
    color: #001F3F;
    background-color: #fff;
}
